/* header.css */

.fonix {
  white-space: nowrap;
  overflow: hidden;
}

.fonix span {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 767px) {
  /* Hide the company image on smaller screens */
  .img-fluid.company-image {
    display: none;
  }
}



